<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    <ion-icon name="checkmark-done" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit()">

    <ng-container *ngIf="!configs.isSignIn">
      
    <ion-item>
      <ion-icon name="person" color="primary" slot="start"></ion-icon>
      <ion-input 
        type="text" 
        formControlName="name"
        placeholder="Nome"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">Required</ion-note>
      <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">Min 3 carac</ion-note>
    </ion-item>

    </ng-container>

    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"></ion-icon>
      <ion-input 
        type="email" 
        formControlName="email" 
        placeholder="Email" 
        inputmode="email" 
        autofocus="true"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">Required</ion-note>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">Email Invalido</ion-note>
    
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
      <ion-input 
        type="password" 
        formControlName="password"
        placeholder="password"
      ></ion-input>
      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">Required</ion-note>
      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">Min 6 carac</ion-note>
    </ion-item>

    <ion-button type="submot" expand="block" [disabled]="authForm.invalid">{{ configs.action }}</ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="changeAuthAction()"> {{ configs.actionChange }} </ion-button>
  <ion-button expand="block">
    <ion-icon name="logo-facebook" slor="start"></ion-icon>
    Login com o Facebook
  </ion-button>
</ion-content>
